Flask
twilio
openai
speech_recognition
pyttsx3
pytube
requests
beautifulsoup4
torch
torchvision
Pillow
googletrans==4.0.0-rc1
langdetect
textblob
PyPDF2
sympy
base64
wikipedia
smtplib
geopy
morse3
newsapi-python
